@import '../../style/common';

@mixin layout-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.panel {
  height: 100vh;

  &.row {
    margin-right: 0;
    margin-left: 0;
  }

  .side-panel {
    @include layout-padding;
    background: $sidebar-background url('/assets/images/clouds.png') left bottom no-repeat;
    background-size: contain;

    .logo {
      display: block;
      height: 2rem;
      margin-bottom: 3rem;

      &-image {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .navbar-toggler {
      color: $white;
    }

    &__nav {
      margin-left: -15px;
      margin-right: -15px;
      text-transform: uppercase;
      font-size: 0.8rem;

      .nav-item {
        margin-bottom: 0.7rem;

        &:last-item {
          margin-bottom: 0;
        }
      }

      .nav-link {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        color: $white;
        border-left: 2px solid transparent;
        @include transition;
        letter-spacing: 0.2rem;

        &:active,
        &:hover {
          color: $blue-dark;
          border-color: $blue-dark;
        }
      }

      svg {
        margin-right: 1rem;
      }
    }
  }

  .content {
    @include layout-padding;
    background: $content-background;

    &-page {
      overflow-y: scroll;
      background: $content-background;
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;

      &.fade-enter {
        opacity: 0;
        z-index: 1;

        &.fade-enter-active {
          opacity: 1;
          transition: opacity 150ms ease-in;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .side-panel__nav .nav-link {
      letter-spacing: initial;
    }
  }

  @include media-breakpoint-down(sm) {
    &.row {
      height: 100vh;
      flex-wrap: nowrap;
      flex-direction: column;
      overflow-y: initial;

      .side-panel {
        max-width: 100%;
        background: $sidebar-background;
        flex: 0;

        &__nav {
          max-height: 0;
          flex-wrap: nowrap;
          overflow: hidden;
          @include transition;

          .nav-link {
            letter-spacing: 0.2rem;
          }

          .nav-item:first-child {
            margin-top: 2rem;
          }
        }

        &.collapsed .side-panel__nav {
          @include transition;
          max-height: 500px;
          flex-wrap: nowrap;
        }

        .logo {
          max-width: auto;
          margin-bottom: 0;
        }
      }

      .content {
        flex: 1;
        max-width: 100%;
        overflow-y: scroll;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        &-page > .container {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
