.login {
  height: 100vh;
  overflow-y: scroll;
  background: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/assets/images/login-bg.jpg') center center;
  background-size: cover;

  .box {
    min-width: 320px;
  }

  .logo {
    margin-bottom: 3rem;

    img {
      max-width: 150px;
    }
  }
}
